################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projekat/.vs/Projekat
/Projekat/obj
