################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin/Debug/net8.0
/Application/obj
/.vs/Projekat/FileContentIndex
